<div class="carded-content">
    <h1 nz-typography>
        Manage users
    </h1>
    <button nz-button nzType="primary" class="create-new-user-btn" (click)="onCreateNewUserClicked()">
        <i nz-icon nzType="user-add" nzTheme="outline"></i> Create a new user
    </button>
    <ul nz-list [nzDataSource]="userList" nzBordered nzItemLayout="vertical">
        <nz-list-header>
            Sort by:
            <nz-select [(ngModel)]="sortOrder" (ngModelChange)="onSortOrderChanged($event)">
                <nz-option *ngFor="let sortOrderOption of sortOrderOptions" [nzValue]="sortOrderOption.value"
                    [nzLabel]="sortOrderOption.title">
                </nz-option>
            </nz-select>
        </nz-list-header>
        <li nz-list-item *ngFor="let user of userList; index as i" nzNoFlex>
            <nz-list-item-meta>
                <nz-list-item-meta-title>
                    {{ user.displayName }} <i>({{ user.username }})</i>
                </nz-list-item-meta-title>
                <nz-list-item-meta-description>
                    {{ getUserRoleListString(userRoleList[i]) }}
                </nz-list-item-meta-description>
            </nz-list-item-meta>
            <ul nz-list-item-actions>
                <nz-list-item-action>
                    <a>Edit</a>
                </nz-list-item-action>
            </ul>
        </li>
        <nz-list-footer>
            <nz-pagination [nzPageIndex]="pageIndex" [nzTotal]="pageSize" nzShowSizeChanger
                [nzPageSizeOptions]="pageSizeOptions" (nzPageIndexChange)="onPageIndexChanged($event)"
                (nzPageSizeChange)="onPageSizeChanged($event)">
            </nz-pagination>
        </nz-list-footer>
    </ul>
</div>

<nz-modal [(nzVisible)]="isCreateNewUserModalVisible" nzTitle="Create a new user"
    (nzOnCancel)="onCreateNewUserModalCancel()" (nzOnOk)="onCreateNewUserModalOk()">
    <ng-container *nzModalContent>
        <form nz-form>
            <nz-form-item>
                <nz-form-control nzErrorTip="Please input the new user's display name">
                    <nz-input-group nzPrefixIcon="user">
                        <input type="text" nz-input placeholder="Display name" name="displayName"
                            [(ngModel)]="createNewUserDisplayName" />
                    </nz-input-group>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-control nzErrorTip="Please input the new user's username">
                    <nz-input-group nzPrefixIcon="user">
                        <input type="text" nz-input placeholder="Username" name="username"
                            [(ngModel)]="createNewUserUsername" />
                    </nz-input-group>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-control nzErrorTip="Please input the new user's password">
                    <nz-input-group nzPrefixIcon="lock">
                        <input type="password" nz-input placeholder="Password" name="password"
                            [(ngModel)]="createNewUserPassword" />
                    </nz-input-group>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-control nzErrorTip="Please input the new user's password again">
                    <nz-input-group nzPrefixIcon="lock">
                        <input type="password" nz-input placeholder="Verify password" name="passwordRetype"
                            [(ngModel)]="createNewUserPasswordRetype" />
                    </nz-input-group>
                </nz-form-control>
            </nz-form-item>
        </form>
    </ng-container>
</nz-modal>