<div nz-row>
    <div nz-col class="region-selector-col" [nzSpan]="24" [nzMd]="16" [nzXl]="18">
        <app-region-selector *ngIf="image" [imageSrc]="image.originalImageURL" [regionList]="regionList">
        </app-region-selector>
    </div>
    <div nz-col class="sidebar-col" [nzSpan]="24" [nzMd]="8" [nzXl]="6">
        <nz-skeleton *ngIf="!image"></nz-skeleton>
        <div *ngIf="image">
            <h1 nz-typography>Manage image</h1>

            <p>
                <nz-tag nzColor="magenta">
                    {{ image.imageType?.displayName || 'No type' }}
                </nz-tag>
                <nz-tag [nzColor]="getImageStatusColor(image.status)">
                    {{ getImageStatusString(image.status) }}
                </nz-tag>
            </p>

            <p>
                <app-editable-tag-list [allImageTagGroupList]="allowedImageTagGroupListForImageType"
                    [allImageTagList]="allowedImageTagListForImageType" [editable]="true" [imageTagList]="imageTagList"
                    (imageTagAdded)="onImageTagForUploadedImageAdded($event)"
                    (imageTagDeleted)="onImageTagForUploadedImageDeleted($event)">
                </app-editable-tag-list>
            </p>

            <p>Original file name: <b>{{ image.originalFileName }}</b></p>

            <p>
                Uploaded on {{ image.uploadTime | date:'short' }} by
                <b>{{ image.uploadedByUser.displayName }}</b>
            </p>

            <p *ngIf="image.publishedByUser" nz-typography>
                Published on {{ image.publishTime | date:'short' }} by
                <b>{{ image.publishedByUser.displayName }}</b>
            </p>

            <p *ngIf="image.verifiedByUser" nz-typography>
                Published on {{ image.verifyTime | date:'short' }} by
                <b>{{ image.verifiedByUser.displayName }}</b>
            </p>
        </div>
    </div>
</div>