.region-selector-col {
  height: calc(100vh - 64px);
  text-align: center;

  @media (max-width: 767px) {
    height: calc(80vh - 64px);
  }
}

.sidebar-col {
  padding: 16px !important;
  background: #fff;
}

.action-buttons {
  button {
    margin-right: 8px;
    margin-top: 8px;
  }
}

.modal-image {
  display: block;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 8px;
}

.image-type-select {
  width: 200px;
}

.label-region-modal-item {
  cursor: pointer;
  transition: background-color 0.3s ease;
  
  &:hover {
    background-color: #f5f5f5;
  }
}