<div nz-row>
  <div nz-col class="region-selector-col" [nzSpan]="24" [nzMd]="16" [nzXl]="18">
    <app-region-selector
      #regionSelector
      *ngIf="image"
      [editable]="isImageEditable && !isShowingRegionSnapshot"
      [imageSrc]="image.originalImageURL"
      [regionList]="isShowingRegionSnapshot ? regionSnapshotList : regionList"
      (regionSelected)="onRegionSelected($event)"
      (regionEdited)="onRegionEdited($event)"
      (regionDbClicked)="onRegionDbClicked($event)"
      (contextMenu)="onContextMenu($event)"
    >
    </app-region-selector>
  </div>
  <div nz-col class="sidebar-col" [nzSpan]="24" [nzMd]="8" [nzXl]="6">
    <nz-skeleton *ngIf="!image"></nz-skeleton>
    <div *ngIf="image">
      <h1 nz-typography>Manage image</h1>

      <p>
        <nz-tag nzColor="magenta">
          {{ image.imageType?.displayName || "No type" }}
        </nz-tag>
        <nz-tag [nzColor]="getImageStatusColor(image.status)">
          {{ getImageStatusString(image.status) }}
        </nz-tag>
      </p>

      <p>
        <app-editable-tag-list
          [editable]="isImageEditable"
          [allImageTagGroupList]="allowedImageTagGroupListForImageType"
          [allImageTagList]="allowedImageTagListForImageType"
          [imageTagList]="imageTagList"
          (imageTagAdded)="onImageTagAdded($event)"
          (imageTagDeleted)="onImageTagDeleted($event)"
        >
        </app-editable-tag-list>
      </p>

      <p>
        Original file name: <b>{{ image.originalFileName }}</b>
      </p>

      <p>
        Uploaded at {{ image.uploadTime | date : "short" }} by
        <b>{{ image.uploadedByUser.displayName }}</b>
      </p>

      <p
        *ngIf="position !== undefined && totalImageCount !== undefined"
        nz-typography
      >
        Image {{ position }} of {{ totalImageCount }}
      </p>

      <nz-collapse nzAccordion>
        <nz-collapse-panel nzHeader="Description" nzActive="true">
          <app-editable-rich-text
            #descriptionEditableText
            [text]="image.description"
            [editable]="isImageEditable"
            [placeholder]="
              isImageEditable ? 'Add image description...' : 'No description'
            "
            (textEdited)="onImageDescriptionUpdated($event)"
          >
          </app-editable-rich-text>
        </nz-collapse-panel>

        <nz-collapse-panel nzHeader="Bookmark">
          <div *ngIf="!imageBookmark">
            <p nz-typography><i>Bookmark this image to manage it later.</i></p>
            <button
              nz-button
              [disabled]="isCreatingImageBookmark"
              [nzLoading]="isCreatingImageBookmark"
              (click)="onBookmarkImageClicked()"
              title="Bookmark image"
            >
              <i nz-icon nzType="tag"></i>
              Bookmark image
            </button>
          </div>

          <div *ngIf="imageBookmark">
            <app-editable-rich-text
              #imageBookmarkEditableText
              [text]="imageBookmark.description"
              placeholder="No description"
              (textEdited)="onImageBookmarkDescriptionEdited($event)"
            >
            </app-editable-rich-text>
            <div style="margin-top: 8px">
              <button
                nz-button
                [disabled]="isDeletingImageBookmark"
                [nzLoading]="isDeletingImageBookmark"
                nzDanger="true"
                (click)="onDeleteBookmarkClicked()"
              >
                <i nz-icon nzType="delete"></i> Delete bookmark
              </button>
            </div>
          </div>
        </nz-collapse-panel>

        <nz-collapse-panel nzHeader="Region snapshots">
          <p *ngIf="!isImagePublished()" nz-typography>
            <i>
              When the image is published/verified, region snapshots at the time
              of publish/verify will be stored and can be viewed via this
              section.
            </i>
          </p>
          <nz-button-group *ngIf="isImagePublished()">
            <button
              *ngIf="isImagePublished()"
              [disabled]="isShowingRegionSnapshot"
              nz-button
              (click)="onShowRegionSnapshotAtPublishTimeClicked()"
            >
              Publish time
            </button>
            <button
              *ngIf="isImageVerified()"
              [disabled]="isShowingRegionSnapshot"
              nz-button
              (click)="onShowRegionSnapshotAtVerifyTimeClicked()"
            >
              Verify time
            </button>
            <button
              [disabled]="!isShowingRegionSnapshot"
              nz-button
              (click)="onRestoreCurrentRegionListClicked()"
            >
              Restore current state
            </button>
          </nz-button-group> </nz-collapse-panel
        ><nz-collapse-panel
          *ngIf="isImageEditable"
          nzHeader="Mass edit regions"
        >
          <nz-button-group>
            <button nz-button (click)="onMassDeleteRegionsClicked()">
              Mass delete regions
            </button>
            <button nz-button (click)="onDeleteAllRegionsClicked()" nzDanger>
              Delete all regions
            </button>
          </nz-button-group>
        </nz-collapse-panel>

        <nz-collapse-panel
          *ngIf="userHasImageExportPermission"
          nzHeader="Download image"
        >
          <nz-button-group>
            <button nz-button (click)="onDownloadImageOnlyClicked()">
              Image only
            </button>
            <button nz-button (click)="onDownloadImageWithRegionsClicked()">
              With regions
            </button>
          </nz-button-group>
        </nz-collapse-panel>

        <nz-collapse-panel nzHeader="Shortcuts">
          <ul>
            <li *ngIf="isImageEditable">
              Ctrl + Z/Ctrl + Shift + Z: Undo/Redo
            </li>
            <li *ngIf="isImageEditable">Ctrl + Enter: Finish drawing</li>
            <li *ngIf="isImageEditable">Escape: Clear selection</li>
            <li>Ctrl + Middle mouse scroll: Zoom</li>
            <li>Ctrl + Left mouse drag: Move image</li>
            <li>Ctrl + Shift + P: Publish image</li>
            <li>Left/right arrow: Next/previous image</li>
            <li>Right click: Menu</li>
          </ul>
        </nz-collapse-panel>
      </nz-collapse>

      <div *ngIf="isImageEditable" class="action-buttons">
        <button
          *ngIf="!isImageExcluded() && !isImageVerified()"
          nz-button
          nzType="primary"
          (click)="onExcludeImageClicked()"
        >
          <i nz-icon nzType="minus-circle"></i> Exclude from labeling
        </button>
        <button
          *ngIf="isImageExcluded()"
          nz-button
          nzType="primary"
          (click)="onIncludeImageClicked()"
        >
          <i nz-icon nzType="plus-circle"></i> Include for labeling
        </button>
        <button
          *ngIf="!isImageExcluded() && !isImagePublished()"
          nz-button
          nzType="primary"
          (click)="onPublishImageClicked()"
        >
          <i nz-icon nzType="check-circle"></i> Publish
        </button>
        <button
          *ngIf="isImagePublished() && !isImageVerified()"
          nz-button
          nzType="primary"
          (click)="onUnpublishImageClicked()"
        >
          <i nz-icon nzType="close-circle"></i> Unpublish
        </button>
        <button
          *ngIf="isImageVerified()"
          nz-button
          nzType="primary"
          (click)="onUnverifyImageClicked()"
        >
          <i nz-icon nzType="close-circle"></i> Unverify
        </button>
        <button nz-button (click)="onImageSettingsClicked()">
          <i nz-icon nzType="setting"></i> Settings
        </button>
      </div>

      <div nz-row nzJustify="space-between" class="action-buttons">
        <button
          [disabled]="prevImageID === undefined"
          nz-col
          nz-button
          (click)="onPreviousClicked()"
        >
          <i nz-icon nzType="left"></i>Previous
        </button>
        <button
          [disabled]="nextImageID === undefined"
          nz-col
          nz-button
          (click)="onNextClicked()"
        >
          Next<i nz-icon nzType="right"></i>
        </button>
      </div>
    </div>
  </div>
</div>

<nz-modal
  *ngIf="isLabelRegionModalVisible"
  nzTitle="Label region"
  [nzVisible]="isLabelRegionModalVisible"
  [nzClosable]="false"
  nzCancelText="Close"
  (nzOnCancel)="onCloseLabelRegionModal()"
  [nzOkText]="null"
>
  <div *nzModalContent>
    <nz-list [nzDataSource]="regionLabelList" nzBordered>
      <nz-list-item
        *ngFor="let regionLabel of regionLabelList"
        class="label-region-modal-item"
        (click)="onLabelRegionModalItemClicked(regionLabel)"
      >
        <span nz-typography [nzDisabled]="isAddingSelectedRegion">{{
          regionLabel.displayName
        }}</span>
      </nz-list-item>
    </nz-list>
  </div>
</nz-modal>

<nz-modal
  *ngIf="isRegionInformationModalVisible"
  nzTitle="Region information"
  [nzVisible]="isRegionInformationModalVisible"
  [nzClosable]="false"
  nzCancelText="Close"
  (nzOnCancel)="onRegionInformationModalClose()"
  [nzOkText]="null"
>
  <div *nzModalContent>
    <nz-collapse nzAccordion>
      <nz-collapse-panel nzHeader="Region information" nzActive="true">
        <img class="modal-image" [src]="regionInformationModalImage" />
        <p *ngIf="regionInformationModalRegion?.label" nz-typography>
          Labeled by
          <b>{{ regionInformationModalRegion?.labeledByUser?.displayName }}</b>
          as <b>{{ regionInformationModalRegion?.label?.displayName }}</b>
        </p>
        <p *ngIf="!regionInformationModalRegion?.label" nz-typography>
          Not yet labeled
        </p>
      </nz-collapse-panel>
      <nz-collapse-panel nzHeader="Operation history">
        <app-region-operation-log-list
          [operationLogList]="regionInformationModalOperationLogList"
        >
        </app-region-operation-log-list>
      </nz-collapse-panel>
    </nz-collapse>
    <button
      *ngIf="isImageEditable"
      nz-button
      nzDanger
      nzType="primary"
      (click)="onRegionInformationModalDeleteRegionClicked()"
      style="margin-top: 8px"
    >
      <i nz-icon nzType="delete"></i> Delete region
    </button>
  </div>
</nz-modal>

<nz-modal
  *ngIf="isImageSettingsModalVisible"
  nzTitle="Image settings"
  [nzVisible]="isImageSettingsModalVisible"
  [nzClosable]="false"
  nzCancelText="Close"
  (nzOnCancel)="onImageSettingsModalClose()"
  [nzOkText]="null"
>
  <div *nzModalContent>
    <h4 nz-typography>Change image type</h4>
    <p nz-typography>
      This will remove all tags from this image, and mark all regions extracted
      from it as not labeled.
    </p>
    <div>
      <nz-select
        class="image-type-select"
        nzPlaceHolder="Select image type"
        [(ngModel)]="imageSettingsModalSelectedImageType"
        (ngModelChange)="onImageSettingsModalImageTypeClicked($event)"
      >
        <nz-option
          *ngFor="let imageType of imageSettingsModalImageTypeList"
          [nzValue]="imageType"
          [nzLabel]="imageType.displayName"
          [nzDisabled]="
            image?.imageType && imageType.id === image?.imageType?.id
          "
        >
        </nz-option>
      </nz-select>
    </div>
    <span *ngIf="image?.imageType?.hasPredictiveModel">
      <h4 nz-typography style="margin-top: 8px">
        Request for AI-based lesion suggestion
      </h4>
      <p nz-typography>
        The image will be sent to AI model for automatic lesion segmentation.
      </p>
      <button
        nz-button
        nzType="primary"
        (click)="onImageSettingsModalRequestDetectionClicked()"
      >
        <i nz-icon nzType="reload"></i> Request
      </button>
    </span>
    <h4 nz-typography style="margin-top: 8px">Delete this image</h4>
    <p nz-typography>This will also delete all regions extracted from it.</p>
    <button
      nz-button
      nzType="primary"
      nzDanger
      (click)="onImageSettingsModalDeleteImageClicked()"
    >
      <i nz-icon nzType="delete"></i> Delete
    </button>
  </div>
</nz-modal>

<nz-modal
  *ngIf="image && isMassDeleteImageModalVisible"
  nzTitle="Mass delete image regions"
  [nzVisible]="isMassDeleteImageModalVisible"
  [nzClosable]="false"
  nzWidth="720px"
  nzCancelText="Close"
  (nzOnCancel)="onMassDeleteRegionModalClose()"
  [nzOkDisabled]="massDeleteImageModalCheckedRegionList.length === 0"
  nzOkText="Delete"
  nzOkDanger="true"
  (nzOnOk)="onMassDeleteRegionModalDeleteClicked()"
>
  <div *nzModalContent>
    <app-region-list
      [imageSrc]="image.originalImageURL"
      [regionList]="regionList"
      (regionListCheckedChange)="
        onMassDeleteRegionModalRegionListCheckedChange($event)
      "
    >
    </app-region-list>
  </div>
</nz-modal>

<nz-dropdown-menu #contextMenu>
  <ul nz-menu oncontextmenu="() => false;">
    <li nz-menu-item (click)="onContextMenuResetZoomClicked()">Reset zoom</li>
    <li
      *ngIf="isRegionListVisible()"
      nz-menu-item
      (click)="onContextMenuHideRegionsClicked()"
    >
      Hide regions
    </li>
    <li
      *ngIf="!isRegionListVisible()"
      nz-menu-item
      (click)="onContextMenuShowRegionsClicked()"
    >
      Show regions
    </li>
    <li nz-submenu nzTitle="Draw margins settings">
      <ul>
        <ng-container *ngIf="isDrawMarginsEnabled()">
          <li
            nz-menu-item
            *ngIf="!isVerticalDrawMarginsSymmetrical()"
            (click)="onVerticalDrawMarginsSymmetricalUpdate(true)"
          >
            Enable symmetrical vertical margins
          </li>
          <li
            nz-menu-item
            *ngIf="isVerticalDrawMarginsSymmetrical()"
            (click)="onVerticalDrawMarginsSymmetricalUpdate(false)"
          >
            Disable symmetrical vertical margins
          </li>
          <li
            nz-menu-item
            *ngIf="!isHorizontalDrawMarginsSymmetrical()"
            (click)="onHorizontalDrawMarginsSymmetricalUpdate(true)"
          >
            Enable symmetrical horizontal margins
          </li>
          <li
            nz-menu-item
            *ngIf="isHorizontalDrawMarginsSymmetrical()"
            (click)="onHorizontalDrawMarginsSymmetricalUpdate(false)"
          >
            Disable symmetrical horizontal margins
          </li>
          <li nz-menu-divider></li>
          <li nz-menu-item (click)="onContextMenuHideDrawMarginsClicked()">
            Hide draw margins
          </li>
        </ng-container>
        <li
          *ngIf="!isDrawMarginsEnabled()"
          nz-menu-item
          (click)="onContextMenuShowDrawMarginsClicked()"
        >
          Show draw margins
        </li>
      </ul>
    </li>
    <li nz-submenu nzTitle="Draw boundary settings">
      <ul>
        <ng-container *ngIf="isDrawBoundaryEnabled()">
          <li
            nz-menu-item
            (click)="onContextMenuCenterDrawBoundaryInImageClicked()"
          >
            Center draw boundary in the image
          </li>
          <li
            nz-menu-item
            (click)="onContextMenuCenterDrawBoundaryInDrawMarginsClicked()"
          >
            Center draw boundary in draw margins
          </li>
          <li nz-menu-divider></li>
          <li nz-menu-item (click)="onContextMenuHideDrawBoundaryClicked()">
            Hide draw boundary
          </li>
        </ng-container>
        <li
          *ngIf="!isDrawBoundaryEnabled()"
          nz-menu-item
          (click)="onContextMenuShowDrawBoundaryClicked()"
        >
          Show draw boundary
        </li>
      </ul>
    </li>
    <li
      *ngIf="isRegionSelectorDrawingOrDeleting()"
      nz-menu-item
      (click)="regionSelector?.finishDrawing()"
    >
      Finish drawing region
    </li>
    <li
      *ngIf="isRegionSelectorIsInSelectedState()"
      nz-menu-item
      (click)="onContextMenuEditDrawnRegionClicked()"
    >
      Edit drawn region
    </li>
    <li
      *ngIf="contextMenuRegion && isImageEditable"
      nz-menu-item
      (click)="onContextMenuEditRegionBoundaryClicked()"
    >
      Edit region boundary
    </li>
    <li
      *ngIf="isRegionSelectorIsInSelectedState()"
      nz-submenu
      nzTitle="Add region as..."
    >
      <ul>
        <li
          *ngFor="let regionLabel of regionLabelList"
          nz-menu-item
          [nzDisabled]="isAddingSelectedRegion"
          (click)="addSelectedRegion(regionLabel)"
        >
          {{ regionLabel.displayName }}
        </li>
      </ul>
    </li>
    <li
      *ngIf="contextMenuRegion && isImageEditable"
      nz-submenu
      nzTitle="Relabel region as..."
    >
      <ul>
        <li
          *ngFor="let regionLabel of regionLabelList"
          nz-menu-item
          [nzDisabled]="regionLabel.id === contextMenuRegion.label?.id"
          (click)="onContextMenuRelabelRegionLabelClicked(regionLabel)"
        >
          {{ regionLabel.displayName }}
        </li>
      </ul>
    </li>
    <li
      *ngIf="isRegionSelectorIsInSelectedState()"
      nz-menu-item
      (click)="regionSelector?.cancelDrawing()"
    >
      Clear selection
    </li>
    <li
      *ngIf="contextMenuRegion"
      nz-menu-item
      (click)="onContextMenuShowRegionInfoClicked()"
    >
      Show region info
    </li>
    <li
      *ngIf="contextMenuRegion && isImageEditable"
      nz-menu-item
      nzDanger
      (click)="onContextMenuDeleteRegionClicked()"
    >
      Delete region
    </li>
    <li
      *ngIf="isImageEditable"
      nz-menu-item
      nzDanger
      (click)="onMassDeleteRegionsClicked()"
    >
      Mass delete regions
    </li>
    <li
      *ngIf="isImageEditable"
      nz-menu-item
      nzDanger
      (click)="onDeleteAllRegionsClicked()"
    >
      Delete all regions
    </li>
    <li
      *ngIf="userHasImageExportPermission"
      nz-submenu
      nzTitle="Download image"
    >
      <ul>
        <li nz-menu-item (click)="onDownloadImageOnlyClicked()">Image only</li>
        <li nz-menu-item (click)="onDownloadImageWithRegionsClicked()">
          With regions
        </li>
      </ul>
    </li>
  </ul>
</nz-dropdown-menu>
