.region-selector-col {
  height: calc(100vh - 64px);
  text-align: center;

  @media (max-width: 767px) {
    height: calc(80vh - 64px);
  }
}

.sidebar-col {
  padding: 16px !important;
  background: #fff;
}
