.item-link {
    overflow-wrap: break-word;
}

.screenshot-image {
    max-width: 100%;
    width: 320px;
}

.pagination {
    margin-top: 24px;
    margin-left: auto;
    margin-right: auto;
    display: table;
}