<nz-list [nzDataSource]="operationLogList" nzBordered nzItemLayout="horizontal">
    <nz-list-item *ngFor=" let operationLog of paginatedOperationLogList">
        <nz-list-item-meta>
            <nz-list-item-meta-title>
                {{ operationLog.byUser?.displayName || 'System' }} <br />
                {{ operationLog.operationTime | date:'short' }}
            </nz-list-item-meta-title>
            <nz-list-item-meta-description>
                <span *ngIf="isDrawOperationLog(operationLog)" nz-typography>
                    <span *ngIf="isFirstDrawOperationLog(operationLog)">
                        Drew region
                    </span>
                    <span *ngIf="!isFirstDrawOperationLog(operationLog)">
                        Edited region
                    </span>
                </span>
                <span *ngIf="isLabelOperationLog(operationLog)" nz-typography>
                    <span *ngIf="isFirstLabelOperationLog(operationLog)">
                        Labeled region as <b>{{ getLabelOperationLogNewLabelDisplayName(operationLog) }}</b>
                    </span>
                    <span *ngIf="!isFirstLabelOperationLog(operationLog)">
                        Labeled region from <b>{{ getLabelOperationLogOldLabelDisplayName(operationLog) }}</b> to
                        <b>{{getLabelOperationLogNewLabelDisplayName(operationLog) }}</b>
                    </span>
                </span>
            </nz-list-item-meta-description>
        </nz-list-item-meta>
    </nz-list-item>
    <nz-list-pagination>
        <nz-pagination [nzPageIndex]="pageIndex" [nzPageSize]="pageSize" [nzTotal]="operationLogList.length"
            (nzPageIndexChange)="onPageIndexChanged($event)" (nzPageSizeChange)="onPageSizeChanged($event)">
        </nz-pagination>
    </nz-list-pagination>
</nz-list>