.image-tag-group-item-image-tag-item-actions {
  margin-top: 4px;
  margin-bottom: 4px;
}

.image-tag-group-item-is-single-value-checkbox {
  margin-top: 8px;
}

.image-tag-group-item-actions {
  margin-top: 8px;

  button {
    margin-right: 8px;
    margin-bottom: 8px;
  }
}

.add-image-tag-group-button {
  margin-top: 8px;
}
