.item-type-item-region-label-item-actions {
  margin-top: 4px;
  margin-bottom: 4px;
}

.image-type-item-has-predictive-model-checkbox {
  margin-top: 8px;
}

.image-type-item-actions {
  margin-top: 8px;

  button {
    margin-right: 8px;
    margin-bottom: 8px;
  }
}

.add-image-type-button {
  margin-top: 8px;
}
