<div class="carded-content">
  <h1 nz-typography>Verify images</h1>

  <app-image-filter-options-selector
    [filterOptions]="filterOptions"
    [sortOption]="imageListSortOption"
    [selectorConfig]="imageListFilterOptionsSelectorConfig"
    [uploadedByUserOptionList]="uploadedByUserOptionList"
    [publishedByUserOptionList]="publishedByUserOptionList"
    [verifiedByUserOptionList]="verifiedByUserOptionList"
    (uploadedByUserSearch)="onUploadedByUserSearch($event)"
    (publishedByUserSearch)="onPublishedByUserSearch($event)"
    (verifiedByUserSearch)="onVerifiedByUserSearch($event)"
    (filterOptionsUpdated)="onImageListFilterOptionsUpdated($event)"
    (sortOptionUpdated)="onImageListSortOptionUploaded($event)"
  >
  </app-image-filter-options-selector>

  <p *ngIf="fromImageIndex !== 0" nz-typography>
    Showing image {{ fromImageIndex }} - {{ toImageIndex }} of
    {{ totalImageCount }}
  </p>

  <app-image-grid
    emptyText="No image"
    [imageList]="imageList"
    [imageTagList]="imageTagList"
    [isImageBookmarkedList]="isImageBookmarkedList"
    [loading]="isLoadingImageList"
    (contextmenu)="onImageGridContextMenu($event)"
    (imageListSelected)="onImageGridImageListSelected($event)"
    (imageDbClicked)="onImageDbClicked($event)"
  >
  </app-image-grid>

  <div *ngIf="!isLoadingImageList" class="pagination">
    <nz-pagination
      [nzPageIndex]="pageIndex"
      [nzPageSize]="pageSize"
      [nzTotal]="totalImageCount"
      nzShowQuickJumper
      nzShowSizeChanger
      [nzPageSizeOptions]="[12, 24, 60, 120, 240]"
      (nzPageIndexChange)="onPageIndexChanged($event)"
      (nzPageSizeChange)="onPageSizeChanged($event)"
    >
    </nz-pagination>
  </div>
</div>

<nz-dropdown-menu #contextMenu>
  <ul nz-menu>
    <li
      *ngIf="contextMenuIsBookmarkSelectedImagesVisible"
      nz-menu-item
      (click)="onBookmarkSelectedImagesClicked()"
    >
      Bookmark selected image(s)
    </li>
    <li
      *ngIf="contextMenuIsDeleteBookmarksOfSelectedImagesVisible"
      nz-menu-item
      nzDanger
      (click)="onDeleteBookmarksOfSelectedImagesClicked()"
    >
      Delete bookmarks of selected image(s)
    </li>
  </ul>
</nz-dropdown-menu>
