<div nz-row>
  <div nz-col class="region-selector-col" [nzSpan]="24" [nzMd]="16" [nzXl]="18">
    <app-region-selector
      #regionSelector
      *ngIf="image"
      [editable]="!isShowingRegionSnapshot"
      [imageSrc]="image.originalImageURL"
      [regionList]="isShowingRegionSnapshot ? regionSnapshotList : regionList"
      [pointOfInterestList]="pointOfInterestList"
      (regionSelected)="onRegionSelected($event)"
      (regionEdited)="onRegionEdited($event)"
      (regionDbClicked)="onRegionDbClicked($event)"
      (contextMenu)="onContextMenu($event)"
    >
    </app-region-selector>
  </div>
  <div nz-col class="sidebar-col" [nzSpan]="24" [nzMd]="8" [nzXl]="6">
    <nz-skeleton *ngIf="!image"></nz-skeleton>
    <div *ngIf="image">
      <h1 nz-typography>Verify image</h1>

      <p>
        <nz-tag nzColor="magenta">
          {{ image.imageType?.displayName || "No type" }}
        </nz-tag>
        <nz-tag [nzColor]="getImageStatusColor(image.status)">
          {{ getImageStatusString(image.status) }}
        </nz-tag>
      </p>

      <p>
        <app-editable-tag-list
          [allImageTagGroupList]="allowedImageTagGroupListForImageType"
          [allImageTagList]="allowedImageTagListForImageType"
          [imageTagList]="imageTagList"
          (imageTagAdded)="onImageTagAdded($event)"
          (imageTagDeleted)="onImageTagDeleted($event)"
        >
        </app-editable-tag-list>
      </p>

      <p>
        Original file name: <b>{{ image.originalFileName }}</b>
      </p>

      <p>
        Uploaded at {{ image.uploadTime | date : "short" }} by
        <b>{{ image.uploadedByUser.displayName }}</b>
      </p>

      <p
        *ngIf="position !== undefined && totalImageCount !== undefined"
        nz-typography
      >
        Image {{ position }} of {{ totalImageCount }}
      </p>

      <nz-collapse nzAccordion>
        <nz-collapse-panel nzHeader="Description" nzActive="true">
          <app-editable-rich-text
            #descriptionEditableText
            [text]="image.description"
            [placeholder]="'Add image description...'"
            (textEdited)="onImageDescriptionUpdated($event)"
          >
          </app-editable-rich-text>
        </nz-collapse-panel>

        <nz-collapse-panel nzHeader="Bookmark">
          <div *ngIf="!imageBookmark">
            <p nz-typography><i>Bookmark this image to manage it later.</i></p>
            <button
              nz-button
              [disabled]="isCreatingImageBookmark"
              [nzLoading]="isCreatingImageBookmark"
              (click)="onBookmarkImageClicked()"
              title="Bookmark image"
            >
              <i nz-icon>
                <svg
                  t="1629125520980"
                  class="icon"
                  viewBox="0 0 1024 1024"
                  version="1.1"
                  xmlns="http://www.w3.org/2000/svg"
                  p-id="2065"
                  width="16"
                  height="16"
                >
                  <path
                    d="M219.721143 972.068571c22.272 0 35.126857-11.154286 78.427428-54.418285L506.002286 710.217143c2.139429-1.718857 4.278857-3.437714 5.997714-3.437714 2.139429 0 3.84 1.718857 5.997714 3.437714l208.274286 207.433143c42.441143 42.422857 56.155429 54.418286 78.006857 54.418285 27.008 0 47.579429-16.274286 47.579429-55.277714V186.075429c0-89.142857-44.141714-134.144-132.864-134.144H305.005714c-88.283429 0-132.864 44.982857-132.864 134.144v730.697142c0 39.021714 21.010286 55.296 47.579429 55.296z m32.128-104.137142c-5.997714 5.997714-10.697143 4.278857-10.697143-3.858286V187.355429c0-42.861714 23.131429-66.432 67.712-66.432h406.710857c44.562286 0 67.291429 23.588571 67.291429 66.432v676.717714c0 8.137143-4.717714 9.435429-10.733715 3.84L533.430857 631.808c-7.296-7.716571-14.994286-9.874286-21.430857-9.874286-5.997714 0-13.714286 2.157714-21.430857 9.874286z"
                    p-id="2066"
                  ></path>
                </svg>
              </i>
              Bookmark image
            </button>
          </div>

          <div *ngIf="imageBookmark">
            <app-editable-rich-text
              #imageBookmarkEditableText
              [text]="imageBookmark.description"
              placeholder="No description"
              (textEdited)="onImageBookmarkDescriptionEdited($event)"
            >
            </app-editable-rich-text>
            <div style="margin-top: 8px">
              <button
                nz-button
                [disabled]="isDeletingImageBookmark"
                [nzLoading]="isDeletingImageBookmark"
                nzDanger="true"
                (click)="onDeleteBookmarkClicked()"
              >
                <i nz-icon nzType="delete"></i> Delete bookmark
              </button>
            </div>
          </div>
        </nz-collapse-panel>

        <nz-collapse-panel nzHeader="Region snapshots">
          <nz-button-group>
            <button
              [disabled]="isShowingRegionSnapshot"
              nz-button
              (click)="onShowRegionSnapshotAtPublishTimeClicked()"
            >
              Publish time
            </button>
            <button
              *ngIf="isImageVerified()"
              [disabled]="isShowingRegionSnapshot"
              nz-button
              (click)="onShowRegionSnapshotAtVerifyTimeClicked()"
            >
              Verify time
            </button>
            <button
              [disabled]="!isShowingRegionSnapshot"
              nz-button
              (click)="onRestoreCurrentRegionListClicked()"
            >
              Restore current state
            </button>
          </nz-button-group>
        </nz-collapse-panel>

        <nz-collapse-panel nzHeader="Mass edit regions">
          <nz-button-group>
            <button nz-button (click)="onMassDeleteRegionsClicked()">
              Mass delete regions
            </button>
            <button nz-button (click)="onDeleteAllRegionsClicked()" nzDanger>
              Delete all regions
            </button>
          </nz-button-group>
        </nz-collapse-panel>

        <nz-collapse-panel
          *ngIf="userHasImageExportPermission"
          nzHeader="Download image"
        >
          <nz-button-group>
            <button nz-button (click)="onDownloadImageOnlyClicked()">
              Image only
            </button>
            <button nz-button (click)="onDownloadImageWithRegionsClicked()">
              With regions
            </button>
          </nz-button-group>
        </nz-collapse-panel>

        <nz-collapse-panel nzHeader="Shortcuts">
          <ul>
            <li>Ctrl + Z/Ctrl + Shift + Z: Undo/Redo</li>
            <li>Ctrl + Enter: Finish drawing</li>
            <li>Escape: Clear selection</li>
            <li>Ctrl + Middle mouse scroll: Zoom</li>
            <li>Ctrl + Left mouse drag: Move image</li>
            <li>Ctrl + Shift + P: Publish image</li>
            <li>Left/right arrow: Next/previous image</li>
            <li>Right click: Menu</li>
          </ul>
        </nz-collapse-panel>
      </nz-collapse>

      <div class="action-buttons">
        <button
          nz-button
          nzType="primary"
          [disabled]="isImageVerified()"
          (click)="onVerifyImageClicked()"
        >
          <i nz-icon nzType="check-circle"></i> Verify
        </button>
        <button
          nz-button
          nzType="primary"
          [disabled]="isImageVerified()"
          (click)="onExcludeImageClicked()"
        >
          <i nz-icon nzType="minus-circle"></i> Exclude from labeling
        </button>
      </div>

      <div nz-row nzJustify="space-between" class="action-buttons">
        <button
          [disabled]="prevImageId === undefined"
          nz-col
          nz-button
          (click)="onPreviousClicked()"
        >
          <i nz-icon nzType="left"></i>Previous
        </button>
        <button
          [disabled]="nextImageId === undefined"
          nz-col
          nz-button
          (click)="onNextClicked()"
        >
          Next<i nz-icon nzType="right"></i>
        </button>
      </div>
    </div>
  </div>
</div>

<nz-dropdown-menu #contextMenu>
  <ul nz-menu oncontextmenu="() => false;">
    <li nz-menu-item (click)="onContextMenuResetZoomClicked()">Reset zoom</li>
    <li nz-menu-divider></li>
    <li
      nz-menu-item
      *ngIf="contextMenuPointOfInterestID === undefined"
      (click)="onContextMenuAddPointOfInterestClicked()"
    >
      Add point of interest
    </li>
    <li
      *ngIf="contextMenuPointOfInterestID !== undefined"
      nz-menu-item
      (click)="onContextMenuUpdatePointOfInterestClicked()"
    >
      Update point of interest
    </li>
    <li
      *ngIf="contextMenuPointOfInterestID !== undefined"
      nz-menu-item
      nzDanger
      (click)="onContextMenuDeletePointOfInterestClicked()"
    >
      Delete point of interest
    </li>
    <li nz-menu-divider></li>
    <li
      *ngIf="isRegionListVisible()"
      nz-menu-item
      (click)="onContextMenuHideRegionsClicked()"
    >
      Hide regions
    </li>
    <li
      *ngIf="!isRegionListVisible()"
      nz-menu-item
      (click)="onContextMenuShowRegionsClicked()"
    >
      Show regions
    </li>
    <li nz-submenu nzTitle="Draw margins settings">
      <ul>
        <ng-container *ngIf="isDrawMarginsEnabled()">
          <li
            nz-menu-item
            *ngIf="!isVerticalDrawMarginsSymmetrical()"
            (click)="onVerticalDrawMarginsSymmetricalUpdate(true)"
          >
            Enable symmetrical vertical margins
          </li>
          <li
            nz-menu-item
            *ngIf="isVerticalDrawMarginsSymmetrical()"
            (click)="onVerticalDrawMarginsSymmetricalUpdate(false)"
          >
            Disable symmetrical vertical margins
          </li>
          <li
            nz-menu-item
            *ngIf="!isHorizontalDrawMarginsSymmetrical()"
            (click)="onHorizontalDrawMarginsSymmetricalUpdate(true)"
          >
            Enable symmetrical horizontal margins
          </li>
          <li
            nz-menu-item
            *ngIf="isHorizontalDrawMarginsSymmetrical()"
            (click)="onHorizontalDrawMarginsSymmetricalUpdate(false)"
          >
            Disable symmetrical horizontal margins
          </li>
          <li nz-menu-divider></li>
          <li nz-menu-item (click)="onContextMenuHideDrawMarginsClicked()">
            Hide draw margins
          </li>
        </ng-container>
        <li
          *ngIf="!isDrawMarginsEnabled()"
          nz-menu-item
          (click)="onContextMenuShowDrawMarginsClicked()"
        >
          Show draw margins
        </li>
      </ul>
    </li>
    <li nz-submenu nzTitle="Draw boundary settings">
      <ul>
        <ng-container *ngIf="isDrawBoundaryEnabled()">
          <li
            nz-menu-item
            (click)="onContextMenuCenterDrawBoundaryInImageClicked()"
          >
            Center draw boundary in the image
          </li>
          <li
            nz-menu-item
            (click)="onContextMenuCenterDrawBoundaryInDrawMarginsClicked()"
          >
            Center draw boundary in draw margins
          </li>
          <li nz-menu-divider></li>
          <li nz-menu-item (click)="onContextMenuHideDrawBoundaryClicked()">
            Hide draw boundary
          </li>
        </ng-container>
        <li
          *ngIf="!isDrawBoundaryEnabled()"
          nz-menu-item
          (click)="onContextMenuShowDrawBoundaryClicked()"
        >
          Show draw boundary
        </li>
      </ul>
    </li>
    <li
      *ngIf="isRegionSelectorDrawingOrDeleting()"
      nz-menu-item
      (click)="regionSelector?.finishDrawing()"
    >
      Finish drawing region
    </li>
    <li
      *ngIf="isRegionSelectorIsInSelectedState()"
      nz-menu-item
      (click)="onContextMenuEditDrawnRegionClicked()"
    >
      Edit drawn region
    </li>
    <li
      *ngIf="contextMenuRegionID !== undefined"
      nz-menu-item
      (click)="onContextMenuEditRegionBoundaryClicked()"
    >
      Edit region boundary
    </li>
    <li
      *ngIf="isRegionSelectorIsInSelectedState()"
      nz-submenu
      nzTitle="Add region as..."
    >
      <ul>
        <li
          *ngFor="let regionLabel of regionLabelList"
          nz-menu-item
          [nzDisabled]="isAddingSelectedRegion"
          (click)="addSelectedRegion(regionLabel)"
        >
          {{ regionLabel.displayName }}
        </li>
      </ul>
    </li>
    <li
      *ngIf="contextMenuRegionID !== undefined"
      nz-submenu
      nzTitle="Relabel region as..."
    >
      <ul>
        <li
          *ngFor="let regionLabel of regionLabelList"
          nz-menu-item
          [nzDisabled]="
            regionLabel.id === regionList[contextMenuRegionID].label?.id
          "
          (click)="onContextMenuRelabelRegionLabelClicked(regionLabel)"
        >
          {{ regionLabel.displayName }}
        </li>
      </ul>
    </li>
    <li
      *ngIf="isRegionSelectorIsInSelectedState()"
      nz-menu-item
      (click)="regionSelector?.cancelDrawing()"
    >
      Clear selection
    </li>
    <li
      *ngIf="contextMenuRegionID !== undefined"
      nz-menu-item
      (click)="onContextMenuShowRegionInfoClicked()"
    >
      Show region info
    </li>
    <li
      *ngIf="contextMenuRegionID !== undefined"
      nz-menu-item
      nzDanger
      (click)="onContextMenuDeleteRegionClicked()"
    >
      Delete region
    </li>
    <li nz-menu-item nzDanger (click)="onMassDeleteRegionsClicked()">
      Mass delete regions
    </li>
    <li nz-menu-item nzDanger (click)="onDeleteAllRegionsClicked()">
      Delete all regions
    </li>
    <li
      *ngIf="userHasImageExportPermission"
      nz-submenu
      nzTitle="Download image"
    >
      <ul>
        <li nz-menu-item (click)="onDownloadImageOnlyClicked()">Image only</li>
        <li nz-menu-item (click)="onDownloadImageWithRegionsClicked()">
          With regions
        </li>
      </ul>
    </li>
  </ul>
</nz-dropdown-menu>

<app-label-region-modal
  #labelRegionModal
  (regionAdded)="onRegionAdded($event)"
></app-label-region-modal>
<app-mass-delete-region-modal
  #massDeleteRegionModal
  (massRegionDeleted)="onMassRegionDeleted($event)"
></app-mass-delete-region-modal>
<app-region-information
  #regionInformationModal
  (regionDeleted)="onRegionDeleted($event)"
></app-region-information>
<app-add-poi-modal
  #addPoiModal
  (poiAdded)="onPoiAdded($event)"
></app-add-poi-modal>
<app-update-poi-modal
  #updatePoiModal
  (poiUpdated)="onPoiUpdated($event)"
></app-update-poi-modal>
