<div *ngIf="loading">
    <nz-skeleton [nzActive]="true"></nz-skeleton>
</div>
<div *ngIf="!loading">
    <dts-select-container *ngIf="imageList.length > 0" [(selectedItems)]="selectedImageList"
        (select)="onImageListSelected()">
        <div nz-row [nzGutter]="{ xs: 8, md: 16, xl: 24, xxl: 32 }">
            <div nz-col [nzSpan]="24" [nzMd]="12" [nzLg]="8" [nzXl]="6" *ngFor="let image of imageList; index as i">
                <nz-card nzSize="small" [nzCover]="coverTemplate" (dblclick)="onImageDbClick(i)"
                    (contextmenu)="onImageContextMenu(image)" [dtsSelectItem]="image">
                    <p>
                        <nz-tag nzColor="magenta">
                            {{ image.imageType? image.imageType.displayName : 'No type' }}
                        </nz-tag>
                        <nz-tag [nzColor]="getImageStatusColor(image.status)">
                            {{ getImageStatusString(image.status) }}
                        </nz-tag>
                    </p>
                    <p *ngIf="imageTagList[i].length > 0">
                        <nz-tag *ngFor="let imageTag of imageTagList[i]">
                            {{ imageTag.displayName }}
                        </nz-tag>
                    </p>
                    <p nz-typography>
                        Uploaded at {{ image.uploadTime | date:'short' }} by
                        <b>{{ image.uploadedByUser.displayName }}</b>
                    </p>
                </nz-card>
                <ng-template #coverTemplate>
                    <img class="thumbnail-image" [src]="image.thumbnailURL" />
                </ng-template>
            </div>
        </div>
    </dts-select-container>
    <div *ngIf="imageList.length > 0" class="select-all-btn">
        <button nz-button nzType="primary" (click)="onAllImagesSelected()">Select All</button>
    </div>
    <nz-empty *ngIf="imageList.length === 0"></nz-empty>
</div>