<div class="carded-content">
    <h1 nz-typography>
        Export images
    </h1>

    <nz-tabset>
        <nz-tab nzTitle="Request export">
            <app-image-filter-options-selector [filterOptions]="filterOptions" [sortOption]="imageListSortOption"
                [uploadedByUserOptionList]="uploadedByUserOptionList"
                [publishedByUserOptionList]="publishedByUserOptionList"
                [verifiedByUserOptionList]="verifiedByUserOptionList"
                (uploadedByUserSearch)="onUploadedByUserSearch($event)"
                (publishedByUserSearch)="onPublishedByUserSearch($event)"
                (verifiedByUserSearch)="onVerifiedByUserSearch($event)"
                (filterOptionsUpdated)="onImageListFilterOptionsUpdated($event)"
                (sortOptionUpdated)="onImageListSortOptionUploaded($event)">
            </app-image-filter-options-selector><br />

            <button nz-button class="action-button" [disabled]="imageList.length === 0"
                (click)="onRequestDatasetZipClicked()">
                <i nz-icon nzType="export" nzTheme="outline"></i> Request Dataset Zip file
            </button>
            <button nz-button class="action-button" [disabled]="imageList.length === 0"
                (click)="onRequestDatasetExcelClicked()">
                <i nz-icon nzType="file-excel" nzTheme="outline"></i> Request Dataset Information Excel file
            </button>

            <p *ngIf="fromImageIndex !== 0" nz-typography>
                Showing image {{ fromImageIndex }} - {{ toImageIndex }} of {{ totalImageCount }}
            </p>

            <app-image-grid emptyText="No image" [imageList]="imageList" [imageTagList]="imageTagList"
                [loading]="isLoadingImageList">
            </app-image-grid>

            <div *ngIf="!isLoadingImageList" class="pagination">
                <nz-pagination [nzPageIndex]="imagePageIndex" [nzPageSize]="imagePageSize" [nzTotal]="totalImageCount"
                    nzShowQuickJumper nzShowSizeChanger [nzPageSizeOptions]="[12, 24, 60, 120, 240]"
                    (nzPageIndexChange)="onImagePageIndexChanged($event)"
                    (nzPageSizeChange)="onImagePageSizeChanged($event)">
                </nz-pagination>
            </div>
        </nz-tab>
        <nz-tab nzTitle="My exports" (nzSelect)="onMyExportsTabSelected()">
            <button nz-button class="action-button" [disabled]="isLoadingExportList"
                (click)="onReloadExportListClicked()">
                <i nz-icon nzType="reload" nzTheme="outline"></i> Refresh
            </button>
            <div>
                <nz-list [nzLoading]="isLoadingExportList" [nzDataSource]="exportList" nzBordered>
                    <nz-list-item *ngFor="let exportRequest of exportList">
                        <nz-list-item-meta>
                            <nz-list-item-meta-title *ngIf="exportRequest.status !== 2 && exportRequest.type === 0">
                                Dataset Zip Export by {{ exportRequest.requestedByUser.displayName }}
                            </nz-list-item-meta-title>
                            <nz-list-item-meta-title *ngIf="exportRequest.status !== 2 && exportRequest.type === 0">
                                Dataset Information Excel Export by {{ exportRequest.requestedByUser.displayName }}
                            </nz-list-item-meta-title>
                            <nz-list-item-meta-title *ngIf="exportRequest.status === 2">
                                {{ exportRequest.exportedFileFilename }}
                            </nz-list-item-meta-title>
                            <nz-list-item-meta-description>
                                Requested at: {{ exportRequest.requestTime | date:"short" }} <br />
                                <span *ngIf="exportRequest.status === 2">
                                    Expire at: {{ exportRequest.expireTime | date:"short" }}
                                </span>
                            </nz-list-item-meta-description>
                        </nz-list-item-meta>
                        <ul nz-list-item-actions>
                            <nz-list-item-action>
                                <a nz-typography [nzDisabled]="exportRequest.status !== 2"
                                    (click)="onDownloadExportClicked(exportRequest)">
                                    <i nz-icon nzTheme="outline" nzType="download"></i>
                                    {{ 'Download' | emptyStringOnMobile }}
                                </a>
                            </nz-list-item-action>
                            <nz-list-item-action>
                                <a nz-typography nzType="danger" (click)="onDeleteExportClicked(exportRequest)">
                                    <i nz-icon nzType="delete" nzTheme="outline"></i>
                                    {{ 'Delete' | emptyStringOnMobile }}
                                </a>
                            </nz-list-item-action>
                        </ul>
                    </nz-list-item>
                </nz-list>
                <div *ngIf="!isLoadingExportList" class="pagination">
                    <nz-pagination [nzPageIndex]="exportPageIndex" [nzPageSize]="exportPageSize"
                        [nzTotal]="totalExportCount" nzShowQuickJumper nzShowSizeChanger
                        [nzPageSizeOptions]="[10, 20, 50, 100]" (nzPageIndexChange)="onExportPageIndexChanged($event)"
                        (nzPageSizeChange)="onExportPageSizeChanged($event)">
                    </nz-pagination>
                </div>
            </div>
        </nz-tab>
    </nz-tabset>
</div>