<div class="carded-content">
    <h1 nz-typography>
        Export images
    </h1>

    <nz-tabset>
        <nz-tab nzTitle="Request export">
            <app-image-filter-options-selector [filterOptions]="filterOptions" [sortOption]="imageListSortOption"
                [uploadedByUserOptionList]="uploadedByUserOptionList"
                [publishedByUserOptionList]="publishedByUserOptionList"
                [verifiedByUserOptionList]="verifiedByUserOptionList"
                (uploadedByUserSearch)="onUploadedByUserSearch($event)"
                (publishedByUserSearch)="onPublishedByUserSearch($event)"
                (verifiedByUserSearch)="onVerifiedByUserSearch($event)"
                (filterOptionsUpdated)="onImageListFilterOptionsUpdated($event)"
                (sortOptionUpdated)="onImageListSortOptionUploaded($event)">
            </app-image-filter-options-selector><br />

            <button nz-button class="action-button" [disabled]="imageList.length === 0"
                (click)="onRequestDatasetZipClicked()">
                <i nz-icon nzType="export" nzTheme="outline"></i> Request Dataset Zip file
            </button>
            <button nz-button class="action-button" [disabled]="imageList.length === 0"
                (click)="onRequestDatasetExcelClicked()">
                <i nz-icon nzType="file-excel" nzTheme="outline"></i> Request Dataset Information Excel file
            </button>

            <p *ngIf="fromImageIndex !== 0" nz-typography>
                Showing image {{ fromImageIndex }} - {{ toImageIndex }} of {{ totalImageCount }}
            </p>

            <app-image-grid emptyText="No image" [imageList]="imageList" [imageTagList]="imageTagList"
                [loading]="isLoadingImageList">
            </app-image-grid>

            <div *ngIf="!isLoadingImageList" class="pagination">
                <nz-pagination [nzPageIndex]="imagePageIndex" [nzPageSize]="imagePageSize" [nzTotal]="totalImageCount"
                    nzShowQuickJumper nzShowSizeChanger [nzPageSizeOptions]="[12, 24, 60, 120, 240]"
                    (nzPageIndexChange)="onImagePageIndexChanged($event)"
                    (nzPageSizeChange)="onImagePageSizeChanged($event)">
                </nz-pagination>
            </div>
        </nz-tab>
        <nz-tab nzTitle="My exports">
            Content of Tab Pane 2
        </nz-tab>
    </nz-tabset>
</div>