<div class="carded-content">
  <h1 nz-typography>My images</h1>

  <app-image-filter-options-selector
    [filterOptions]="filterOptions"
    [sortOption]="imageListSortOption"
    [selectorConfig]="imageListFilterOptionsSelectorConfig"
    [publishedByUserOptionList]="publishedByUserOptionList"
    [verifiedByUserOptionList]="verifiedByUserOptionList"
    (publishedByUserSearch)="onPublishedByUserSearch($event)"
    (verifiedByUserSearch)="onVerifiedByUserSearch($event)"
    (filterOptionsUpdated)="onImageListFilterOptionsUpdated($event)"
    (sortOptionUpdated)="onImageListSortOptionUploaded($event)"
  >
  </app-image-filter-options-selector>

  <p *ngIf="fromImageIndex !== 0" nz-typography>
    Showing image {{ fromImageIndex }} - {{ toImageIndex }} of
    {{ totalImageCount }}
  </p>

  <app-image-grid
    emptyText="No image"
    [imageList]="imageList"
    [imageTagList]="imageTagList"
    [loading]="isLoadingImageList"
    (contextmenu)="onImageGridContextMenu($event)"
    (imageListSelected)="onImageGridImageListSelected($event)"
    (imageDbClicked)="onImageDbClicked($event)"
  >
  </app-image-grid>

  <div *ngIf="!isLoadingImageList" class="pagination">
    <nz-pagination
      [nzPageIndex]="pageIndex"
      [nzPageSize]="pageSize"
      [nzTotal]="totalImageCount"
      nzShowQuickJumper
      nzShowSizeChanger
      [nzPageSizeOptions]="[12, 24, 60, 120, 240]"
      (nzPageIndexChange)="onPageIndexChanged($event)"
      (nzPageSizeChange)="onPageSizeChanged($event)"
    >
    </nz-pagination>
  </div>
</div>

<nz-dropdown-menu #contextMenu>
  <ul nz-menu>
    <li nz-submenu nzTitle="Change image type of selected image(s) to...">
      <ul>
        <li
          *ngFor="let imageType of imageTypeList"
          nz-menu-item
          (click)="onSetImageTypeOfSelectedImagesClicked(imageType)"
        >
          {{ imageType.displayName }}
        </li>
      </ul>
    </li>
    <li nz-menu-item (click)="onSetImageTagOfSelectedImagesClicked()">
      Add image tags to selected image(s)
    </li>
    <li
      nz-menu-item
      (click)="onRequestRegionDetectionForSelectedImagesClicked()"
    >
      Request for AI-based lesion suggestion for selected image(s)
    </li>
    <li nz-menu-item (click)="onShowDuplicateImagesWithSelectedImageClicked()">
      Show duplicate image(s) with selected image
    </li>
    <li nz-menu-item nzDanger (click)="onDeleteSelectedImagesClicked()">
      Delete selected image(s)
    </li>
  </ul>
</nz-dropdown-menu>

<nz-modal
  [(nzVisible)]="isAddImageTagToSelectedImageListModalVisible"
  nzTitle="Add image's tag to selected image list"
  (nzOnOk)="onAddImageTagToSelectedImageListModalSubmit()"
  (nzOnCancel)="onAddImageTagToSelectedImageListModalCancel()"
>
  <ng-container *nzModalContent>
    <div class="modal-content-header">
      <label
        for=""
        *ngIf="!isEmptyImageTagListModal && !isEmptyImageTypeListModal"
      >
        Choose image's tag add to image:
      </label>
      <label for="" *ngIf="isEmptyImageTagListModal">
        No image's tag with selected images.
      </label>
      <label for="" *ngIf="isEmptyImageTypeListModal">
        No image's type with selected images.
      </label>
    </div>
    <nz-checkbox-wrapper
      style="width: 100%"
      (nzOnChange)="onChooseImageTagToSelectedImageListModal($event)"
      *ngIf="
        !isEmptyImageTagListModal &&
        !isEmptyImageTypeListModal &&
        isAddImageTagToSelectedImageListModalVisible
      "
    >
      <div nz-row>
        <div
          nz-col
          nzSpan="8"
          *ngFor="let imageTag of addImageTagModalImageTagList"
        >
          <label
            nz-checkbox
            nzValue="{{ imageTag.id }}"
            [(ngModel)]="imageTag.checked"
            (ngModelChange)="onUpdateSingleImageTagChecked()"
          >
            {{ imageTag.displayName }}
          </label>
        </div>
      </div>
      <label
        nz-checkbox
        [(ngModel)]="isSelectAllChecked"
        (ngModelChange)="onUpdateImageTagListModalAllChecked()"
        [nzIndeterminate]="indeterminate"
      >
        Select all
      </label>
    </nz-checkbox-wrapper>
  </ng-container>
</nz-modal>

<nz-modal
  [(nzVisible)]="isShowDuplicateImagesOfSelectedImageModalVisible"
  nzTitle="Show duplicate image(s)"
  [nzFooter]="null"
  (nzOnCancel)="onShowDuplicateImageListModalCancel()"
>
  <ng-container *nzModalContent>
    <ul
      nz-list
      [nzDataSource]="showDuplicatedImageListModalImageList"
      nzBordered
      nzItemLayout="vertical"
    >
      <nz-list-header>
        Sort by:
        <nz-select
          [(ngModel)]="showDuplicatedImageListModalSortOrder"
          (ngModelChange)="onShowDuplicatedImageListModalSortOrderChanged($event)"
        >
          <nz-option
            *ngFor="let sortOption of imageListSortOptionList"
            [nzValue]="sortOption"
            [nzLabel]="getImageListSortOptionString(sortOption)"
          >
          </nz-option>
        </nz-select>
      </nz-list-header>
      <li
        nz-list-item
        *ngFor="let image of showDuplicatedImageListModalImageList; index as i"
        nzNoFlex
        class="show-duplicated-image-list-item"
      >
        <nz-list-item-meta>
          <nz-list-item-meta-title>
            {{ image.originalFileName }}
          </nz-list-item-meta-title>
          <nz-list-item-meta-description>
            <p>
              <!-- <nz-tag nzColor="magenta">
                  {{ image.imageType? image.imageType.displayName : 'No type' }}
              </nz-tag> -->
              <nz-tag [nzColor]="getImageStatusColor(image.status)">
                  {{ getImageStatusString(image.status) }}
              </nz-tag>
          </p>
            <p *ngIf="imageTagListOfDuplicatedImageList[i].length > 0">
              <nz-tag *ngFor="let imageTag of imageTagListOfDuplicatedImageList[i]">
                  {{ imageTag.displayName }}
              </nz-tag>
            </p>
            <p nz-typography>
              Uploaded at {{ image.uploadTime | date:'short' }} by
              <b>{{ image.uploadedByUser.displayName }}</b>
          </p>
          </nz-list-item-meta-description>
        </nz-list-item-meta>
        <ul nz-list-item-actions>
          <nz-list-item-action>
              <a nz-typography nzType="danger"
                  (click)="onShowDuplicatedImageListModalImageDeleteClicked(image)">
                  <i nz-icon nzType="delete" nzTheme="outline"></i>
              </a>
          </nz-list-item-action>
        </ul>
      </li>
      <nz-list-footer>
        <nz-pagination
          [nzPageIndex]="showDuplicatedImageListModalPageIndex"
          [nzPageSize]="showDuplicatedImageListModalPageSize"
          [nzTotal]="showDuplicatedImageListModalTotalImageCount"
          nzShowSizeChanger
          [nzPageSizeOptions]="showDuplicatedImageListModalPageSizeOptions"
          (nzPageIndexChange)="onShowDuplicatedImageListModalPageIndexChanged($event)"
          (nzPageSizeChange)="onShowDuplicatedImageListModalPageSizeChanged($event)"
          disabled
          >
        </nz-pagination>
      </nz-list-footer>
    </ul>
  </ng-container>
</nz-modal>
